{%load static%}
<link rel="stylesheet" href = "{% static 'style/main.css' %}">

<div class="activity-component rounded d-none d-lg-flex flex-column mt-5">

<h3 class="text-center pt-4 pb-4 rounded recent-h">Recent Activity</h3>
        <div>
            {% for message in room_messages %}
            
            <div class="message-element p-3 m-4 rounded-3">

                <div class = "post-detail py-3">
                <div class="d-flex">
                {% if message.user.profile and message.user.profile.profile_pic %}
                <a href="{% url 'profile-page' message.user.id %}">
                <img src="{{ message.user.profile.profile_pic.url }}" class="pfp-img rounded-circle p-1" width="40" height="40" style="object-fit: cover;">
                </a>
                {% else %}
                    <a href="{% url 'profile-page' message.user.id %}">
                <img src="{% static 'images/avatar-1577909_1280.png' %}" class="pfp-img rounded-circle p-1" width="40" height="40">
                    </a>
                {% endif %}
                <div class="d-flex flex-column mx-2">
                <small><a href="{% url 'profile-page' message.user.id %}" class="usertag">@{{message.user.username}}</a></small><small class="message-time"> {{ message.created|timesince }} ago</small>
                </div>
                </div>
                <div>
                    {% if request.user == message.user %}
                
                    <a href="/delete-message/{{message.id}}" class="delete-button"><i class="fa-solid fa-xmark"></i></a>
            
                    {% endif %}
                </div>
        
                </div>
                <a href="{% url 'room' message.room.id %}">
                <small>replied to {{ message.room }}</small>
                    <p>{{message}}..</p>
                </a>
                
            </div>
            
            {% endfor %}
        
</div>    
</div>