{% extends 'main.html'%}

<body>
    
    {%block content%}
    <div class="container d-flex justify-content-center">
    <div class="row w-100 d-flex justify-content-center">
        <div class="col-lg-6 col-md-10 col-sm-12">
            <div class="content-box room-cbox mt-5 rounded pb-4 d-flex flex-column">

                <h3 class="recent-h p-4 rounded text-center">Edit Profile</h3>
                
                <form method="POST" action="" enctype="multipart/form-data" class="p-5">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit" class="submit-button p-3 rounded-5">
                </form>

            </div>
        </div>
    </div>
</div>
    {%endblock content%}
    
</body>

