{% extends 'main.html' %}

{%block content%}
<div class="container d-flex flex-column justify-content-center align-items-center">
<form method="GET" action="" class="mt-4">
    {% csrf_token %}
    <input type="text" name="q" placeholder="  topics... " class="w-100 rounded-pill form-control p-4">

</form>
<div class="content-box col-10 col-md-8 col-lg-6 rounded mt-5 pb-4 topic-list">
<h3 class="recent-h">TOPICS</h3>
{% for topic in topics %}
        <div class="topic-elements mt-5 d-flex justify-content-around align-items-center">
            <a href="{%url 'home'%}?q={{topic.name}}">{{topic.name}}</a> <a href="" class="topic-count d-flex align-items-center justify-content-center p-4">{{topic.room_count}}</a>
        </div>
{% endfor %}
</div>
<form method="POST" action="" class="mt-3">
    {% csrf_token %}
    <input type="text" placeholder="Create a topic.. " class="form-control p-3" name="topic_name">
    <input type="submit" placeholder="New topic" class="form-control" width="40">
</form>
</div>
{%endblock content%}